<?xml version="1.0" encoding="UTF-8"?>
<listener>
    <listener-class>in.gadgethub.listener.DBConnectionListener</listener-class>
</listener>
<context-param>
    <param-name>
        url
    </param-name>
    <param-value>
        jdbc:oracle:thin:@//localhost:1521/xe
    </param-value>
</context-param>
<context-param>
    <param-name>
        username
    </param-name>
    <param-value>
        gadgethub2
    </param-value>
</context-param>
<context-param>
    <param-name>
        password
    </param-name>
    <param-value>
        project
    </param-value>
</context-param>
